<app-sidebar-log></app-sidebar-log>
<div class="container" *ngIf="valido">
	<div class="row justify-content-center">
		<div class="col-12 col-md-5 col-xl-4 my-5" style="margin-top: 10rem !important">
			<!-- Heading -->
			<h1 class="display-4 text-center mb-3">Cambio de Contraseña</h1>

			<!-- Subheading -->
			<p class="text-muted text-center mb-5">Panel administrativo de Control de Pensiones.</p>

			<!-- Form -->
			<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
				<!-- Email address -->
				<div class="form-group">
					<!-- Label -->
					<label>Ingresa tu nueva contraseña</label>

					<!-- Input -->
					<input
						type="password"
						class="form-control"
						required
						placeholder="Ingresa tu contraseña"
						id="password"
						#password="ngModel"
						name="password"
						[(ngModel)]="admin.password"
					/>
				</div>
				<div class="form-group">
					<!-- Label -->
					<label>Repite la contraseña</label>

					<!-- Input -->
					<input
						type="password"
						class="form-control"
						required
						placeholder="Repite tu contraseña"
						id="passwordaux"
						#passwordaux="ngModel"
						name="passwordaux"
						[(ngModel)]="admin.passwordaux"
					/>
				</div>

				<!-- Submit -->
				<button class="btn btn-lg btn-block btn-primary mb-3" type="submit">Enviar</button>
			</form>
		</div>
	</div>
	<!-- / .row -->
</div>

<ng-container *ngIf="!valido">
	<div class="card">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="col-12 col-md-5 col-xl-4 my-5">
					<div class="text-center">
						<!-- Preheading -->
						<h6 class="text-uppercase text-muted mb-4">404 error</h6>

						<!-- Heading -->
						<h1 class="display-4 mb-3">Está página no se cuentra habilitada 😭</h1>

						<!-- Subheading -->
						<p class="text-muted mb-4">¿Parece que llegaste aquí por accidente?</p>

						<!-- Button -->
						<a [routerLink]="['/estudiantes']" class="btn btn-lg btn-primary"> Regresar a la página </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
