<app-sidebar></app-sidebar>
<br>
<br><br>
<ng-container *ngIf="(rol != undefined && (rol == 'direc' || rol == 'admin')) || yo == 1">
	<div class="main-content">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-8 col-lg-8 col-xl-8">
					<!-- Header -->
					<div class="header mt-md-5">
						<div class="header-body">
							<div class="row align-items-center">
								<div class="col">
									<!-- Pretitle -->
									<h6 class="header-pretitle">Módulo</h6>

									<!-- Title -->
									<h1 class="header-title">Configuraciones</h1>
								</div>
							</div>
							<!-- / .row -->
						</div>
					</div>

					<!-- Alert -->
					<div class="alert alert-danger" *ngIf="bol != ''"><i class="fe fe-info mr-1"></i> {{ bol }}</div>

					<!-- Card -->
					<form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
						<div class="card">
							<div class="card-header">
								<!-- Title -->
								<h4 class="card-header-title">Configuraciones de las Pensiones</h4>
							</div>

							<div class="card-body" *ngIf="!load_data">

								<div class="card-header-title">
									<div class="row">
										<div class="col">
											<h4 class="card-header-title">Mese de cobro: {{ config.numpension }}</h4>
										</div>
										
										<div class="col-2">
												<button class="btn btn-primary" type="button"
										data-toggle="modal"
										[attr.data-target]="'#modalRubro'">
													Rubros
												</button>
											</div>
										
										
										<hr />
									</div>
								</div>

								<div class="row mb-3">
									<label for="inputEmail3" class="form-label">Monto Matricula</label>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-auxmescompleto" *ngIf="config.matricula"
											>{{ config.matricula }}
										</span>
										<span class="input-group-text" id="basic-auxmescompleto" *ngIf="!config.matricula"
											>(Obligatorio)</span
										>
										<input
											type="number"
											step="0.01"
											required
											class="form-control"
											name="matricula"
											[(ngModel)]="config.matricula"
										/>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputEmail3" class="form-label">Monto Pensión</label>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-auxmescompleto" *ngIf="config.pension"
											>{{ config.pension }}
										</span>
										<span class="input-group-text" id="basic-auxmescompleto" *ngIf="!config.pension"
											>(Obligatorio)</span
										>
										<input
											type="number"
											required
											step="0.01"
											class="form-control"
											name="pension"
											[(ngModel)]="config.pension"
										/>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputEmail3" class="form-label">Descuento por Pago Anticipado</label>

									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-auxmescompleto" *ngIf="config.descuento_anticipo"
											>{{ config.descuento_anticipo }}
										</span>
										<span
											class="input-group-text"
											id="basic-auxmescompleto"
											*ngIf="!config.descuento_anticipo"
											>(Opcional)</span
										>
										<input
											type="number"
											step="0.01"
											class="form-control"
											name="descuento_anticipo"
											[(ngModel)]="config.descuento_anticipo"
										/>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputEmail3" class="form-label">Fecha de Año Lectivo</label>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-anio_lectivo">
											<ng-container *ngIf="auxdate">
												{{ auxdate | date : 'longDate' }}
											</ng-container>
											<ng-container *ngIf="!auxdate && config.anio_lectivo"> (Ninguna) </ng-container>
											<ng-container *ngIf="!auxdate && !config.anio_lectivo"> (Obligatorio) </ng-container>
										</span>

										<input
											required
											type="date"
											class="form-control"
											name="anio_lectivo"
											[(ngModel)]="config.anio_lectivo"
											(ngModelChange)="fechas($event)"
										/>
									</div>
								</div>

								<div class="row mb-3">
									<label for="inputEmail3" class="form-label">Mes de cobro completo</label>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-auxmescompleto">
											<ng-container *ngIf="auxmescompleto">
												{{ (auxmescompleto | date : 'MMMM').toUpperCase() }}
											</ng-container>
											<ng-container *ngIf="!auxmescompleto && config.mescompleto"> (Ninguna) </ng-container>
											<ng-container *ngIf="!auxmescompleto && !config.mescompleto"> (Opcional) </ng-container>
										</span>

										<select
											class="form-control custom-select"
											id="select-mescompleto"
											name="mescompleto"
											[(ngModel)]="config.mescompleto"
										>
											<option value="" selected disabled>Seleccionar</option>
											<option value="" selected>Ninguna</option>
											<option value="{{ item.date }}" *ngFor="let item of arr_meses">
												{{ item.date | date : 'MMMM' }}
											</option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label for="basic-url" class="form-label">Tu URL de API Facturación</label>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-auxmescompleto" *ngIf="!config.facturacion"
											>(Opcional)</span
										>
										<span class="input-group-text" id="basic-facturacion"
											>https://example.com/index.xhtml?</span
										>
										<input
											type="url"
											class="form-control"
											id="basic-url"
											name="facturacion"
											aria-describedby="basic-facturacion"
											[(ngModel)]="config.facturacion"
										/>
									</div>
								</div>
							</div>

							<ng-container *ngIf="load_data">
								<div class="card-body">
									<div class="row">
										<div class="col-12 text-center">
											<div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
												<span class="visually-hidden"></span>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
							<div class="card-footer">
								<button
									*ngIf="!load_btn"
									class="btn btn-primary btn-shadow"
									type="button"
									data-toggle="modal"
									[attr.data-target]="'#modalConfirmar'"
								>
									Iniciar
								</button>

								<button disabled *ngIf="load_btn" type="button" class="btn btn-primary btn-shadow">
									<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
									En Proceso...
								</button>

								<div class="modal fade" id="modalConfirmar" style="display: none" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Iniciar</h4>
												<button class="close" type="button" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">
												<p>¿Desea Iniciar?</p>
												<b><i> este proceso no se podrá iniciar hasta que transcurra 10 meses</i></b>
											</div>
											<div class="modal-footer">
												<button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
													Cancelar
												</button>
												<button class="btn btn-primary btn-shadow btn-sm" type="submit">Si</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>

					<div class="modal fade" id="modalRubro" style="display: none" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="documentrubro">
							<div class="modal-content">
								<div class="modal-header">
									<div class="alert alert-danger" role="alert" *ngIf="!uniqueArray">
										No has guardado todavía
									  </div>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-header">
									<label for=""> <b>Rubros </b> </label>
									

									
									
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										
										<button 
										class="btn btn-primary me-md-2"
										type="button"
										data-toggle="modal"
										[attr.data-target]="'#modalNuevoRubro'"
									>
										Añadir Rubro
									</button>
									  </div>
								</div>
								<div class="modal-content">
									
	
									<div class="modal fade" id="modalNuevoRubro" style="display: none" aria-hidden="true">
										<div class="modal-dialog " role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Nuevo Rubro </h4>
													<button class="close" type="button" (click)="cerrar_add_rubro()">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body">
													<form #addrubroForm="ngForm" (ngSubmit)="addarr_rubro(addrubroForm)">
														<div class="row">
															<div class="input-group">
																<div class="col-md-auto form-group">
																	<label for="" class="form-label"> Código de Rubro</label>
																	<input
																		type="number"
																		max="98"
																		min="25"
																		class="form-control"
																		name="rubro.idrubro"
																		[(ngModel)]="rubro.idrubro"
																	/>
																</div>
																<div class="col-lg-6 form-group">
																	<label for="" class="form-label"> Descripción del Rubro</label>
																	<input
																		type="text"
																		class="form-control"
																		name="rubro.descripcion"
																		[(ngModel)]="rubro.descripcion"
																	/>
																</div>
																<div class="col form-group">
																	<label for="" class="form-label"> Valor del Rubro</label>
																	<input
																		type="number"
																		class="form-control"
																		name="rubro.valor"
																		[(ngModel)]="rubro.valor"
																	/>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
																Cancelar
															</button>
															<button class="btn btn-primary btn-shadow btn-sm" type="submit" >Añadir Rubro</button>
														</div>
													</form>
													
												</div>
												
											</div>
										</div>
									</div>
										<div class="table table-response">
											<table class="container-sm">
												<thead>
													<th>Código</th>
													<th>Descripción</th>
													<th>Valor</th>
													<th>Opción</th>
												</thead>
												<tbody>
													<tr *ngFor="let item of arr_rubro; let index = index">
														<td> {{item.idrubro}}</td>
														<td> {{item.descripcion}}</td>
														<td> {{item.valor}}</td>
														<td ><button type="button" class="btn btn-secondary" (click)="eliminarrubro(index)"> Eliminar</button> </td>
													</tr>
												</tbody>
											</table>
										</div>
									
							
								<div class="modal-footer">
									<button class="btn btn-primary" type="button" (click)="addrubro()">Guardar Rubro</button>
								</div>
								</div>

							</div>
						</div>
						
					</div>

					
					
				</div>
			</div>
			<!-- / .row -->
		</div>
	</div>
</ng-container>
<ng-container *ngIf="rol != undefined && rol != 'direc' && rol != 'admin' && yo == 0">
	<div class="card">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="col-12 col-md-5 col-xl-4 my-5">
					<div class="text-center">
						<!-- Preheading -->
						<h6 class="text-uppercase text-muted mb-4">404 error</h6>

						<!-- Heading -->
						<h1 class="display-4 mb-3">Está página no se cuentra habilitada 😭</h1>

						<!-- Subheading -->
						<p class="text-muted mb-4">¿Parece que llegaste aquí por accidente?</p>

						<!-- Button -->
						<a [routerLink]="['/estudiantes']" class="btn btn-lg btn-primary"> Regresar a pagos </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
