input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }

  div{
    animation-delay: 1s;
  }
  table{
    animation-delay: 1s;
  }
  canvas{
    animation-delay: 1s;
  }