<ng-container>
	<div class="main-content">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-12 col-xl-10">
					<!-- Header -->
					<div class="header mt-md-5">
						<div class="header-body">
							<div class="row align-items-center">
								<div class="col">
									<!-- Pretitle -->
									<h6 class="header-pretitle">Módulo</h6>

									<!-- Title -->
									<h1 class="header-title">Control administrativo</h1>
								</div>
							</div>
							<!-- / .row -->
						</div>
					</div>

					<!-- Alert -->

					<!-- Card -->
					<div class="card">
						<div class="card-header">
							<!-- Title -->
							<h4 class="card-header-title">Mostrando todos los usuarios</h4>
						</div>
						<div class="card-body">
							<div class="input-group input-group-merge">
								<input
									type="text"
									class="form-control form-control-appended"
									title="Buscar por: Nombres,Apellidos,Email,Dni,Telefono o ID"
									placeholder="Buscar"
									name="filtro"
									[(ngModel)]="filtro"
								/>
								<div class="input-group-append">
									<button class="btn btn-primary" (click)="filtrar_estudiante()">Buscar</button>
								</div>
								<div class="col">
									<a
										class="btn btn-primary"
										[routerLink]="['/administrativo/create']"
										routerLinkActive="router-link-active"
										style="cursor: pointer"
										>Nuevo Usuario</a
									>
								</div>
							</div>
						</div>

						<div class="table-responsive">
							<table class="table table-sm table-nowrap card-table">
								<thead>
									<tr>
										<th>Institución</th>
										<th>Administrador</th>
										<th>Opción</th>
									</tr>
								</thead>
								<tbody
									class="font-size-base"
									*ngFor="
										let item of admin | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize
									"
								>
									<tr>
										<td>
											<button
												class="btn btn-link"
												type="button"
												data-toggle="collapse"
												[attr.data-target]="'#collapseExample-' + item._id"
												aria-expanded="false"
												aria-controls="collapseExample"
											>
												<div class="avatar mr-3">
													<img
														class="avatar-img rounded me-3 mr-3"
														[src]="url + 'obtener_portada/' + item.portada"
														alt="..."
													/>
												</div>
												<a class="text-primary">{{ item.titulo }}</a>
											</button>
											<div class="collapse" id="collapseExample-{{ item._id }}">
												<div class="card card-body">
													<div class="row">
														<div class="input-group-merge">
															<div class="col-lg-8">
																<label for="">Teléfono:</label>
																<span *ngIf="item.telefonoinsti">
																	<a
																		href="https://api.whatsapp.com/send?phone= {{
																			item.telefonoinsti
																		}}&text='Hola'"
																		target="_blank"
																	>
																		{{ item.telefonoinsti }}</a
																	></span
																>
																<span *ngIf="!item.telefonoinsti">No registrado</span>
															</div>
															<div class="col-lg-8">
																<label for="">Teléfono Convencional:</label>
																<span *ngIf="item.telefonocon"> {{ item.telefonocon }}</span>
																<span *ngIf="!item.telefonocon">No registrado</span>
															</div>
														</div>

														<div class="input-group">
															<div class="col-lg">
																<label for="">Pais:</label>
																<span>{{ item.pais }}</span>
															</div>
															<div class="col-lg">
																<label for="">provincia:</label>
																<span>{{ item.provincia }}</span>
															</div>
															<div class="col-lg">
																<label for="">canton:</label>
																<span>{{ item.canton }}</span>
															</div>
															<div class="col-lg">
																<label for="">codigopostal:</label>
																<span>{{ item.codigopostal }}</span>
															</div>
														</div>

														<div class="input-group-merge">
															<div class="col-lg">
																<label for="">Calle Principal:</label>
																<span>{{ item.calle1 }}</span>
															</div>
															<div class="col-lg">
																<label for="">Calle Secundaria:</label>
																<span>{{ item.calle2 }}</span>
															</div>
															<div class="col-lg">
																<label for="">Referencia:</label>
																<span>{{ item.referencia }}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td>
											<button
												class="btn btn-link"
												type="button"
												data-toggle="collapse"
												[attr.data-target]="'#collapseExample-' + item.idadmin._id"
												aria-expanded="false"
												aria-controls="collapseExample"
											>
												<span *ngIf="item.idadmin.estado == 'deshabilitado'">
													(<i class="fe fe-minus">)</i>
												</span>
												<span *ngIf="item.idadmin.estado == 'habilitado'"
													>(<i class="fe fe-check"></i>)
												</span>
												<a class="text-primary">{{ item.idadmin.nombres }} {{ item.idadmin.apellidos }}</a>
											</button>
											<div class="collapse" id="collapseExample-{{ item.idadmin._id }}">
												<div class="card card-body">
													<div class="row">
														<div class="col-lg">
															<label for="">Corre:</label>
															<small class="text-muted"
																><a href="mailto:{{ item.idadmin.email }}">
																	{{ item.idadmin.email }}</a
																></small
															>
														</div>
														<div class="col-lg">
															<label for="">Teléfono:</label>
															<span *ngIf="item.idadmin.telefono">
																<a
																	href="https://api.whatsapp.com/send?phone= {{
																		item.idadmin.telefono
																	}}&text='Hola'"
																	target="_blank"
																>
																	{{ item.idadmin.telefono }}</a
																></span
															>
															<span *ngIf="!item.idadmin.telefono">No registrado</span>
														</div>
														<div class="col-lg">
															<label for="">Cédula:</label>
															<span *ngIf="item.idadmin.telefono">{{ item.idadmin.dni }}</span>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td>
											<div class="input-group">
												<button
													type="button"
													class="btn btn-outline-success"
													*ngIf="item.idadmin.estado == 'deshabilitado'"
													(click)="actualizar(item.idadmin._id)"
												>
													Activar
												</button>
												<button
													type="button"
													class="btn btn-outline-danger"
													*ngIf="item.idadmin.estado == 'habilitado'"
													(click)="actualizar(item.idadmin._id)"
												>
													Desactivar
												</button>

												<button type="button" class="btn btn-outline-info" (click)="cambiar_b(item.idadmin.base)">Ver</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<ngb-pagination
						*ngIf="admin.length >= 1"
						[(page)]="page"
						[pageSize]="pageSize"
						[maxSize]="10"
						[rotate]="true"
						[boundaryLinks]="true"
						[collectionSize]="admin.length"
					></ngb-pagination>

					<br />
				</div>
			</div>
			<!-- / .row -->
		</div>
	</div>
</ng-container>

<!--
  <ng-container >
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-xl-4 my-5">
            
            <div class="text-center">
            
             Preheading 
              <h6 class="text-uppercase text-muted mb-4">
                404 error
              </h6>
  
              Heading 
              <h1 class="display-4 mb-3">
                Está página no se cuentra habilitada 😭
              </h1>
  
              <!-- Subheading
              <p class="text-muted mb-4">
                ¿Parece que llegaste aquí por accidente?
              </p>
  
              <!-- Button 
              <a [routerLink]="['/admin']"  class="btn btn-lg btn-primary">
                Regresar a pagos
              </a>
            
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  -->
