<app-sidebar-log></app-sidebar-log>
<div class="main-content">
	<div class="row justify-content-center">
		<div class="col-12 col-md-5 col-xl-4 my-5" style="margin-top: 10rem !important">
			<!-- Heading -->
			<h1 class="display-4 text-center mb-3">Recuperar Contraseña</h1>

			<!-- Subheading -->
			<p class="text-muted text-center mb-5">Panel administrativo de Control de Pensiones.</p>

			<!-- Form -->
			<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
				<!-- Email address -->
				<div class="form-group">
					<!-- Label -->
					<label>Inregsa tu correo electrónico</label>

					<!-- Input -->
					<input
						type="email"
						class="form-control"
						required
						pattern="^[a-z0-9@.!#$%&’*+-/=?^_`{|}~]+$"
						placeholder="name@address.com"
						#email="ngModel"
						name="email"
						[(ngModel)]="userEmail"
					/>
				</div>

				<!-- Password -->

				<!-- Submit -->
				<button class="btn btn-lg btn-block btn-primary mb-3" type="submit">Recuperar contraseña</button>

			</form>
		</div>
	</div>
	<!-- / .row -->
</div>
