<app-sidebar></app-sidebar>
<br>
<br><br>



<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8 col-lg-8 col-xl-8">
          <!-- Header -->
          <div class="header mt-md-5">
            <div class="header-body">
              <div class="row align-items-center">
                <div class="col">
                  <!-- Pretitle -->
                  <h6 class="header-pretitle">Módulo</h6>
  
                  <!-- Title -->
                  <h1 class="header-title">Egresos</h1>
                </div>
              </div>
              <!-- / .row -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="card card-hover-shadow h-100" href="#">
                <div class="card-body">
                  <h6 class="card-subtitle">Total Users</h6>
  
                  <div class="row align-items-center gx-2 mb-1">
                    <div class="col-6">
                      <h2 class="card-title text-inherit">72,540</h2>
                    </div>
                    <!-- End Col -->
  
                    <div class="col-6">
                      <!-- Chart -->
                      <div class="chartjs-custom" style="height: 3rem">
                        <canvas
                          class="js-chart"
                          data-hs-chartjs-options='{
                                  "type": "line",
                                  "data": {
                                     "labels": ["1 May","2 May","3 May","4 May","5 May","6 May","7 May","8 May","9 May","10 May","11 May","12 May","13 May","14 May","15 May","16 May","17 May","18 May","19 May","20 May","21 May","22 May","23 May","24 May","25 May","26 May","27 May","28 May","29 May","30 May","31 May"],
                                     "datasets": [{
                                      "data": [21,20,24,20,18,17,15,17,18,30,31,30,30,35,25,35,35,40,60,90,90,90,85,70,75,70,30,30,30,50,72],
                                      "backgroundColor": ["rgba(55, 125, 255, 0)", "rgba(255, 255, 255, 0)"],
                                      "borderColor": "#377dff",
                                      "borderWidth": 2,
                                      "pointRadius": 0,
                                      "pointHoverRadius": 0
                                    }]
                                  },
                                  "options": {
                                     "scales": {
                                       "y": {
                                         "display": false
                                       },
                                       "x": {
                                         "display": false
                                       }
                                     },
                                    "hover": {
                                      "mode": "nearest",
                                      "intersect": false
                                    },
                                    "plugins": {
                                      "tooltip": {
                                        "postfix": "k",
                                        "hasIndicator": true,
                                        "intersect": false
                                      }
                                    }
                                  }
                                }'
                          width="83"
                          height="48"
                          style="
                            display: block;
                            box-sizing: border-box;
                            height: 40px;
                            width: 80px;
                          "
                        >
                        </canvas>
                      </div>
                      <!-- End Chart -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
  
                  <span class="badge bg-soft-success text-success">
                    <i class="bi-graph-up"></i> 12.5%
                  </span>
                  <span class="text-body fs-6 ms-1">from 70,104</span>
                </div>
              </a>
              <!-- End Card -->
            </div>
  
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="card card-hover-shadow h-100" href="#">
                <div class="card-body">
                  <h6 class="card-subtitle">Sessions</h6>
  
                  <div class="row align-items-center gx-2 mb-1">
                    <div class="col-6">
                      <h2 class="card-title text-inherit">29.4%</h2>
                    </div>
                    <!-- End Col -->
  
                    <div class="col-6">
                      <!-- Chart -->
                      <div class="chartjs-custom" style="height: 3rem">
                        <canvas
                          class="js-chart"
                          data-hs-chartjs-options='{
                                  "type": "line",
                                  "data": {
                                     "labels": ["1 May","2 May","3 May","4 May","5 May","6 May","7 May","8 May","9 May","10 May","11 May","12 May","13 May","14 May","15 May","16 May","17 May","18 May","19 May","20 May","21 May","22 May","23 May","24 May","25 May","26 May","27 May","28 May","29 May","30 May","31 May"],
                                     "datasets": [{
                                      "data": [21,20,24,20,18,17,15,17,30,30,35,25,18,30,31,35,35,90,90,90,85,100,120,120,120,100,90,75,75,75,90],
                                      "backgroundColor": ["rgba(55, 125, 255, 0)", "rgba(255, 255, 255, 0)"],
                                      "borderColor": "#377dff",
                                      "borderWidth": 2,
                                      "pointRadius": 0,
                                      "pointHoverRadius": 0
                                    }]
                                  },
                                  "options": {
                                     "scales": {
                                       "y": {
                                         "display": false
                                       },
                                       "x": {
                                         "display": false
                                       }
                                     },
                                    "hover": {
                                      "mode": "nearest",
                                      "intersect": false
                                    },
                                    "plugins": {
                                      "tooltip": {
                                        "postfix": "k",
                                        "hasIndicator": true,
                                        "intersect": false
                                      }
                                    }
                                  }
                                }'
                          width="83"
                          height="48"
                          style="
                            display: block;
                            box-sizing: border-box;
                            height: 48px;
                            width: 83px;
                          "
                        >
                        </canvas>
                      </div>
                      <!-- End Chart -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
  
                  <span class="badge bg-soft-success text-success">
                    <i class="bi-graph-up"></i> 1.7%
                  </span>
                  <span class="text-body fs-6 ms-1">from 29.1%</span>
                </div>
              </a>
              <!-- End Card -->
            </div>
  
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="card card-hover-shadow h-100" href="#">
                <div class="card-body">
                  <h6 class="card-subtitle">Avg. Click Rate</h6>
  
                  <div class="row align-items-center gx-2 mb-1">
                    <div class="col-6">
                      <h2 class="card-title text-inherit">56.8%</h2>
                    </div>
                    <!-- End Col -->
  
                    <div class="col-6">
                      <!-- Chart -->
                      <div class="chartjs-custom" style="height: 3rem">
                        <canvas
                          class="js-chart"
                          data-hs-chartjs-options='{
                                  "type": "line",
                                  "data": {
                                     "labels": ["1 May","2 May","3 May","4 May","5 May","6 May","7 May","8 May","9 May","10 May","11 May","12 May","13 May","14 May","15 May","16 May","17 May","18 May","19 May","20 May","21 May","22 May","23 May","24 May","25 May","26 May","27 May","28 May","29 May","30 May","31 May"],
                                     "datasets": [{
                                      "data": [25,18,30,31,35,35,60,60,60,75,21,20,24,20,18,17,15,17,30,120,120,120,100,90,75,90,90,90,75,70,60],
                                      "backgroundColor": ["rgba(55, 125, 255, 0)", "rgba(255, 255, 255, 0)"],
                                      "borderColor": "#377dff",
                                      "borderWidth": 2,
                                      "pointRadius": 0,
                                      "pointHoverRadius": 0
                                    }]
                                  },
                                  "options": {
                                     "scales": {
                                       "y": {
                                         "display": false
                                       },
                                       "x": {
                                         "display": false
                                       }
                                     },
                                    "hover": {
                                      "mode": "nearest",
                                      "intersect": false
                                    },
                                    "plugins": {
                                      "tooltip": {
                                        "postfix": "k",
                                        "hasIndicator": true,
                                        "intersect": false
                                      }
                                    }
                                  }
                                }'
                          width="83"
                          height="48"
                          style="
                            display: block;
                            box-sizing: border-box;
                            height: 48px;
                            width: 83px;
                          "
                        >
                        </canvas>
                      </div>
                      <!-- End Chart -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
  
                  <span class="badge bg-soft-danger text-danger">
                    <i class="bi-graph-down"></i> 4.4%
                  </span>
                  <span class="text-body fs-6 ms-1">from 61.2%</span>
                </div>
              </a>
              <!-- End Card -->
            </div>
  
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="card card-hover-shadow h-100" href="#">
                <div class="card-body">
                  <h6 class="card-subtitle">Pageviews</h6>
  
                  <div class="row align-items-center gx-2 mb-1">
                    <div class="col-6">
                      <h2 class="card-title text-inherit">92,913</h2>
                    </div>
                    <!-- End Col -->
  
                    <div class="col-6">
                      <!-- Chart -->
                      <div class="chartjs-custom" style="height: 3rem">
                        <canvas
                          class="js-chart"
                          data-hs-chartjs-options='{
                                  "type": "line",
                                  "data": {
                                     "labels": ["1 May","2 May","3 May","4 May","5 May","6 May","7 May","8 May","9 May","10 May","11 May","12 May","13 May","14 May","15 May","16 May","17 May","18 May","19 May","20 May","21 May","22 May","23 May","24 May","25 May","26 May","27 May","28 May","29 May","30 May","31 May"],
                                     "datasets": [{
                                      "data": [21,20,24,15,17,30,30,35,35,35,40,60,12,90,90,85,70,75,43,75,90,22,120,120,90,85,100,92,92,92,92],
                                      "backgroundColor": ["rgba(55, 125, 255, 0)", "rgba(255, 255, 255, 0)"],
                                      "borderColor": "#377dff",
                                      "borderWidth": 2,
                                      "pointRadius": 0,
                                      "pointHoverRadius": 0
                                    }]
                                  },
                                  "options": {
                                     "scales": {
                                       "y": {
                                         "display": false
                                       },
                                       "x": {
                                         "display": false
                                       }
                                     },
                                    "hover": {
                                      "mode": "nearest",
                                      "intersect": false
                                    },
                                    "plugins": {
                                      "tooltip": {
                                        "postfix": "k",
                                        "hasIndicator": true,
                                        "intersect": false
                                      }
                                    }
                                  }
                                }'
                          width="83"
                          height="48"
                          style="
                            display: block;
                            box-sizing: border-box;
                            height: 48px;
                            width: 83px;
                          "
                        >
                        </canvas>
                      </div>
                      <!-- End Chart -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
  
                  <span class="badge bg-soft-secondary text-body">0.0%</span>
                  <span class="text-body fs-6 ms-1">from 2,913</span>
                </div>
              </a>
              <!-- End Card -->
            </div>
          </div>
          
          <div
          class="modal fade"
          id="modalPlanContable"
          style="display: none"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            role="documentrubro"
          >
            <div class="modal-content">
              <div class="modal-header">
                <!-- Title -->
                <h2 class="card-header-title">
                  Plan Contable
                </h2>
                <button
                  type="button"
                  class="btn-close"
                  data-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-light" type="button" *ngIf="!opcion" (click)="opciones()">
                    Editar
                  </button>
                  <button class="btn btn-dark" type="button" *ngIf="opcion" (click)="opciones()">
                    Editar
                  </button>

                  <button class="btn btn-outline-success" *ngIf="opcion" type="button" (click)="pasar()"
                  data-toggle="modal"
                  [attr.data-target]="'#modaladdPlanContable'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                  </svg> Nueva Categoria</button>
                  
                </div>
               <br>
               <ng-template #cuentaTemplate let-cuenta>

                
                  <li class="list-group-item">
                    <div class="row">
                      <label for="" class="form-label"> {{ cuenta.codigo }} - <span id="{{cuenta.codigo}}-l">
                        {{ cuenta.nombre }}
                      </span>  </label>
                        
                        <div class="input-group mb-3" id="{{cuenta.codigo}}-i" style="display: none;">
                          <input type="text" class="form-control" [(ngModel)]="auxnomc" class="input-field" />
                          <button class="btn btn-success" (click)="editarCuenta(cuenta)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                              <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                          </button>
                          <button class="btn btn-danger" (click)="descareditarCuenta(cuenta)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                          </button>
                        </div>

    
                    
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <button class="btn btn-outline-warning" id="{{cuenta.codigo}}-b" *ngIf="opcion" (click)="mostrareditarCuenta(cuenta)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                        </button>
                          <button class="btn btn-outline-danger" *ngIf="opcion"(click)="eliminarCuenta(cuenta)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                          </svg></button>
                          <button class="btn btn-outline-success" *ngIf="opcion" type="button" (click)="pasar(cuenta)"
                              data-toggle="modal"
                              [attr.data-target]="'#modaladdPlanContable'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                              </svg></button>
                        </div>
                     
    
                    </div>
    
                    <div class="subcuentas" *ngIf="cuenta.subcuentas && cuenta.subcuentas.length > 0">
                        <ul class="list-group">
                        <ng-container *ngFor="let subcuenta of cuenta.subcuentas">
                          
                            <ng-container  *ngTemplateOutlet="cuentaTemplate; context:{ $implicit: subcuenta }" >
        
                            </ng-container>
                          
                        </ng-container>
                      </ul>
                    </div>
                  </li>
                
                

              </ng-template>

                <div *ngFor="let cuenta of planContable">
                  <ng-container *ngTemplateOutlet="cuentaTemplate; context:{ $implicit: cuenta }"></ng-container>
                </div>
          
                  <div
                  class="modal fade"
                  id="modaladdPlanContable"
                  style="display: none"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                    role="documentrubro"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3>Agregar Cuenta: {{linea.codigo}} - {{linea.nombre}}</h3>
                      </div>
                      <div class="modal-body">
                        
                          <label for="codigo" *ngIf="linea.codigo==''">Código:</label>
                          <input type="text" *ngIf="linea.codigo==''" class="form-control"  id="codigo" [(ngModel)]="nuevaCuenta.codigo" required>
                          <label for="nombre">Nombre:</label>
                          <input type="text" class="form-control"  id="nombre" [(ngModel)]="nuevaCuenta.nombre" required>
                          <button class="btn btn-outline-success" type="button" (click)="agregarCuenta()" >Agregar</button>
                       
                      </div>
                    </div>
                  </div>
                  </div>
                  
                  
                  
              </div>
            </div>
          </div>
        </div>

          <!-- Alert -->
          <div class="card">
            <div class="card-body">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button"
                data-toggle="modal"
                [attr.data-target]="'#modalAddProv'">Añadir</button>

                <button class="btn btn-primary" type="button"
                data-toggle="modal"
                [attr.data-target]="'#modalPlanContable'">Plan Contable</button>
                </div>
              <div class="table">
                <div class="table-responsive">
                  <table class="table table-sm table-nowrap card-table">
                    <thead>
                      <tr>
                        <th>Encargado</th>
                        <th>Proveedor</th>
                        <th>Cuenta</th>
                        <th>Forma de Pago</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                      </tr>
                    </thead>
                    <tbody class="font-size-base">
                      <tr *ngFor="let iten_egreso of egresos">
                        <td>{{iten_egreso.admin}}</td>
                        <td>{{iten_egreso.proveedor}}</td>
                        <td>{{iten_egreso.cuentaContable}}</td>
                        <td>{{iten_egreso.formaPago}}</td>
                        <td>{{iten_egreso.monto}}</td>
                        <td>{{iten_egreso.fecha}}</td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>          
            </div>
          </div>
          <!-- Card -->
          <div class="modal fade" id="modalAddProv" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="egreso">
              <div class="modal-content">
                <div class="modal-header">
                 
                    <!-- Title -->
                    <h4 class="card-header-title">Agregar nuevo Egreso</h4>
                    
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
    
                 
                </div>
                <div class="modal-content">
                  <form (ngSubmit)="guardarEgreso()" #proveedorForm="ngForm">
                    <div class="card">
                      
                      <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-8">                                
                                <div class="form-group">
                                    <label for="proveedor">Proveedor o destinatario:</label>
                                    <select class="form-control" id="proveedor" [(ngModel)]="egreso.proveedor" name="proveedor" required>
                                        <option value="">Seleccione una opción</option>
                                        <ng-container *ngIf="proveedores">
                                            <ng-container *ngFor="let prov of proveedores">
                                                <option value="prov._id">{{prov.ruc}}</option>
                                            </ng-container>
                                        </ng-container>                                   
                                        </select>
                                    </div>
                                
                             
                            </div>


                            <div class="col-md-4">
                             
                                <div class="form-group">
                                    <label for="cuentaContable">Cuenta contable:</label>
                                    <input type="text" class="form-control" id="cuentaContable" [(ngModel)]="egreso.cuentaContable" name="cuentaContable" required>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="categoria">Categoría:</label>
                                    <select class="form-control" id="categoria" [(ngModel)]="egreso.categoria" name="categoria" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="Alquileres">Alquileres</option>
                                    <option value="Servicios">Servicios</option>
                                    <option value="Impuestos">Impuestos</option>
                                    <option value="Materiales y suministros">Materiales y suministros</option>
                                    <option value="Honorarios">Honorarios</option>
                                    <option value="Otros">Otros</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="monto">Monto:</label>
                                        <input type="number" class="form-control" id="monto" [(ngModel)]="egreso.monto" name="monto" required>
                                      </div>
                                <div class="form-group">
                                    <label for="observaciones">Observaciones:</label>
                                    <textarea class="form-control" id="observaciones" [(ngModel)]="egreso.observaciones" name="observaciones"></textarea>
                                </div>
                                
                                
                                
                                  
                                  
                                  
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fecha">Fecha:</label>
                                    <input type="date" class="form-control" id="fecha" [(ngModel)]="egreso.fecha" name="fecha" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="retencion" >Retención:</label>
                                    
                                      <input type="number" class="form-control" id="retencion" [(ngModel)]="egreso.retencion" name="retencion" required>
                                    
                                  </div>
                                <div class="form-group">
                                    <label for="concepto">Concepto:</label>
                                    <textarea class="form-control" id="concepto" [(ngModel)]="egreso.concepto" name="concepto" required></textarea>
                                  </div>
                                  
                                  
                                 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cuenta">Cuenta bancaria o de caja:</label>
                                    <input type="text" class="form-control" id="cuenta" [(ngModel)]="egreso.cuenta" name="cuenta" required>
                                  </div>
                                <div class="form-group">
                                    <label for="comprobante">Número de comprobante:</label>
                                    <input type="text" class="form-control" id="comprobante" [(ngModel)]="egreso.numeroComprobante" name="comprobante" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="formaPago">Forma de pago:</label>
                                    <select class="form-control" id="formaPago" [(ngModel)]="egreso.formaPago" name="formaPago" required>
                                        <option value="">Seleccione una opción</option>
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Transferencia bancaria">Transferencia bancaria</option>
                                        <option value="Tarjeta de crédito/débito">Tarjeta de crédito/débito</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                           
                        
                      </div>
                      <div class="card-footer">
          
                        <button class="btn btn-primary btn-shadow" type="submit" [disabled]="!proveedorForm.valid">Guardar</button>
                      </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  