<app-sidebar></app-sidebar>
<br>
<br><br>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-12 col-xl-10">
				<!-- Header -->
				<div class="header mt-md-5">
					<div class="header-body">
						<div class="row align-items-center">
							<div class="col">
								<!-- Pretitle -->
								<h6 class="header-pretitle">Módulo</h6>

								<!-- Title -->
								<h1 class="header-title">Estudiantes</h1>
							</div>
						</div>
						<!-- / .row -->
					</div>
				</div>

				<!-- Alert -->

				<!-- Card -->
				<ng-container *ngIf="load_data_est">
					<div class="card-body">
						<div class="row">
							<div class="col-12 text-center">
								<div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
									<span class="visually-hidden"></span>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-container *ngIf="!load_data_est">
					<div class="card">
						<div class="card-header">
							<!-- Title -->
							<h4 class="card-header-title">Mostrando todos tus estudiantes {{ estudiantes.length }}</h4>
							
							
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="input-group input-group-merge">
										<ng-container>
											<button
												class="btn btn-danger active"
												*ngIf="load_eliminados == false"
												(click)="mostrar_eliminado()"
											>
												⥂
											</button>
											<button
												class="btn btn-success"
												*ngIf="load_eliminados == true"
												(click)="mostrar_normales()"
											>
												⥄
											</button>
										</ng-container>
										<input
											type="text"
											class="form-control form-control-appended"
											placeholder="Buscar estudiante"
											name="filtro"
											[(ngModel)]="filtro"
										/>
										<div class="input-group-append">
											<button class="btn btn-primary" (click)="filtrar_estudiante()">Buscar</button>
											<ng-container *ngIf="rol == 'admin' || rol == 'secrt'" style="text-align: right">
												<a
													class="btn btn-primary"
													[routerLink]="['/estudiantes/create']"
													routerLinkActive="router-link-active"
													style="cursor: pointer"
													>Nuevo Estudiante</a
												>
											</ng-container>

											
										</div>
									</div>
								</div>
								
								

								<div class="col-md-6 text-right" *ngIf="rol == 'admin'">
									<!-- 
<flatfile-button
										*ngIf="rol == 'admin'"
										[settings]="settings"
										[customer]="customer"
										[licenseKey]="licenseKey"
										[onData]="onData.bind(this)"
										>Subida masiva
									</flatfile-button>
									-->
									<div class="input-group input-group-merge">
										<ng-container *ngIf="rol == 'admin'">
											<button
												class="btn btn-danger active"
												*ngIf="load_eliminados == false"
												data-toggle="modal"
												[attr.data-target]="'#delete-todo'"
											>
												Eliminar
											</button>
											<button
												class="btn btn-success"
												*ngIf="load_eliminados == true"
												data-toggle="modal"
												[attr.data-target]="'#activar-todo'"
											>
												Activar
											</button>
											
										</ng-container>
										<button class="btn btn-success" (click)="importdatos()">Subida masiva</button>
									</div>
									
									
									
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-sm table-nowrap card-table">
								<thead>
									<tr>
										<th *ngIf="rol == 'admin'">
											<input
												type="checkbox"
												value="1"
												placeholder="total"
												[(ngModel)]="total"
												(click)="select_todo()"
											/>
										</th>
										<th>Estudiante</th>
										<th>Cédula</th>
										<th>Correo</th>
										<th>Paralelo</th>
										<th>Telefono</th>
										<th>Fecha de creación</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody class="font-size-base">
									<ng-container
										*ngFor="
											let item of estudiantes
												| slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize
										"
									>
										<tr
											*ngIf="
												load_eliminados == false &&
												(item.element.estado == undefined || item.element.estado != 'Desactivado')
											"
										>
											<td *ngIf="rol == 'admin'">
												<input
													type="checkbox"
													value="1"
													placeholder="item.ckechk"
													[(ngModel)]="item.ckechk"
												/>
											</td>
											<td>
												<a class="text-primary" [routerLink]="['/estudiantes/detalle', item.element._id]"
													>{{ item.element.nombres }} {{ item.element.apellidos }}</a
												>
												<br>
												<span *ngIf="item.element.dni">{{ item.element.dni }}</span>
												<span *ngIf="!item.element.dni">No registrado</span>
												
												
											</td>

											<td>
												<span *ngIf="item.element.genero">
													<ng-container *ngIf="item.element.genero=='Femenino'"> F </ng-container>
													<ng-container *ngIf="item.element.genero=='Masculino'"> M </ng-container>
													<ng-container *ngIf="item.element.genero=='No definido'"> n/a </ng-container></span>
												<span *ngIf="!item.element.genero">No registrado</span>
											</td>
											
											<td>
												{{ item.element.email }}
											</td>
											<td>{{ item.element.curso }}{{ item.element.paralelo }}</td>
											<td>
												<span *ngIf="item.element.telefono">{{ item.element.telefono }}</span>
												<span *ngIf="!item.element.telefono">No registrado</span>
											</td>
											<td>
												<span>{{item.element.createdAt|date:'YYYY'}}-{{item.element.createdAt|date:'MM'}}-{{item.element.createdAt|date:'dd'}}</span>
											</td>

											<td>
												<div class="dropdown">
													<button
														class="btn btn-secondary dropdown-toggle"
														type="button"
														id="dropdownMenuButtonAlias"
														data-toggle="dropdown"
														aria-haspopup="true"
														aria-expanded="false"
													>
														Opciones
													</button>

													<ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
														<li>
															<a
																class="dropdown-item"
																*ngIf="rol != 'delegado'"
																[routerLink]="['/estudiantes/edit', item.element._id]"
																>Editar</a
															>
														</li>
														<li>
															<a
																class="dropdown-item"
																[routerLink]="['/estudiantes/detalle', item.element._id]"
																>Detalle</a
															>
														</li>

														<li>
															<a
																class="dropdown-item"
																style="cursor: pointer"
																data-toggle="modal"
																[attr.data-target]="'#delete-' + item.element._id"
																>Eliminar</a
															>
														</li>
													</ul>
												</div>
												<div
													class="modal fade"
													id="delete-{{ item.element._id }}"
													tabindex="-1"
													style="display: none"
													aria-hidden="true"
												>
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title">
																	Eliminar, {{ item.element.nombres }} {{ item.element.apellidos }}
																</h4>
																<button class="close" type="button" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">×</span>
																</button>
															</div>
															<div class="modal-body">
																<p>Desea eliminar este estudiante? {{ item.element._id }}</p>
															</div>
															<div class="modal-footer">
																<button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
																	Cancelar
																</button>
																<button
																	class="btn btn-primary btn-shadow btn-sm"
																	(click)="eliminar(item.element._id)"
																	type="button"
																>
																	Si, eliminar
																</button>
															</div>
														</div>
													</div>
												</div>
											</td>
										</tr>
										<tr
											*ngIf="
												load_eliminados == true &&
												(item.element.estado == undefined || item.element.estado == 'Desactivado')
											"
										>
											<td *ngIf="rol == 'admin'">
												<input type="checkbox" value="1" [(ngModel)]="item.ckechk" />
											</td>
											<td>
												<a class="text-primary">{{ item.element.nombres }} {{ item.element.apellidos }}</a>
												<a>(Eliminado)</a>
											</td>

											<td>
												<span *ngIf="item.element.dni">{{ item.element.dni }}</span>
												<span *ngIf="!item.element.dni">No registrado</span>
											</td>

											<td>
												{{ item.element.email }}
											</td>
											<td>{{ item.element.curso }}{{ item.element.paralelo }}</td>
											<td>
												<span *ngIf="item.element.telefono">{{ item.element.telefono }}</span>
												<span *ngIf="!item.element.telefono">No registrado</span>
											</td>

											<td>
												<div class="dropdown">
													<button
														class="btn btn-secondary dropdown-toggle"
														type="button"
														id="dropdownMenuButtonAlias"
														data-toggle="dropdown"
														aria-haspopup="true"
														aria-expanded="false"
													>
														Opciones
													</button>

													<ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
														<li>
															<a
																class="dropdown-item"
																[routerLink]="['/estudiantes/detalle', item.element._id]"
																>Detalle</a
															>
														</li>
														<li *ngIf="rol == 'admin'">
															<a
																class="dropdown-item"
																style="cursor: pointer"
																data-toggle="modal"
																[attr.data-target]="'#delete-' + item.element._id"
																>Activar</a
															>
														</li>
													</ul>
												</div>
												<div
													class="modal fade"
													id="delete-{{ item.element._id }}"
													tabindex="-1"
													style="display: none"
													aria-hidden="true"
												>
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title">
																	Reactivar, {{ item.element.nombres }} {{ item.element.apellidos }}
																</h4>
																<button class="close" type="button" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">×</span>
																</button>
															</div>
															<div class="modal-body">
																<p>Desea reactivar este estudiante? {{ item.element._id }}</p>
															</div>
															<div class="modal-footer">
																<button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
																	Cancelar
																</button>
																<button
																	class="btn btn-primary btn-shadow btn-sm"
																	(click)="activar(item.element._id)"
																	type="button"
																>
																	Si, activar
																</button>
															</div>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>
						</div>
					</div>
					<ngb-pagination
						*ngIf="estudiantes.length >= 1"
						[(page)]="page"
						[pageSize]="pageSize"
						[maxSize]="10"
						[rotate]="true"
						[boundaryLinks]="true"
						[collectionSize]="estudiantes.length"
					></ngb-pagination>

					<br />
					<div class="modal fade" id="delete-todo" tabindex="-1" style="display: none" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Eliminación masiva</h4>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Desea eliminar estos estudiante?</p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
										Cancelar
									</button>
									<button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar_todo()" type="button">
										Si, eliminar
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="activar-todo" tabindex="-1" style="display: none" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Reactivar</h4>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Desea reactivar este estudiante?</p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
										Cancelar
									</button>
									<button class="btn btn-primary btn-shadow btn-sm" (click)="activar_todo()" type="button">
										Si, activar
									</button>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
		<!-- / .row -->
	</div>
</div>

